<div class="my-[75px]">

  <nav class="py-1 bg-offwhite">
    <div class="">
      <ul class="flex">
        <li class="w-full text-center">
          <a routerLink="/test1" pButton class="p-component p-button font-bold underline btn h-[48px] w-[200px] md:w-[308px] bg-offwhite hover:bg-green-dark border-offwhite hover:text-white rounded-none">Test One</a>
        </li>
        <li class="w-full text-center">
          <a routerLink="/test2" pButton class="p-component p-button font-bold underline btn h-[48px] w-[200px] md:w-[308px] bg-offwhite hover:bg-green-dark border-offwhite hover:text-white rounded-none">Test Two</a>
        </li>
      </ul>
    </div>
  </nav>

</div>

